/* Global variables, probably should be moved anywhere else */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$margin-small: 2rem;
$font-stack: "Roboto", sans-serif;
$blue-01: #160d66;
$blue-02: #5853a3;
$blue-03: #4489d8;

a:link {
    color: $blue-03;
    text-decoration: none;
}
