@import "../../../../styles.scss";

.member-card {
    font-family: $font-stack;
    text-align: center;

    .face-photo {
        object-fit: cover;
        width: 300px;
        height: 300px;
        object-position: 100% 15%;
    }

    .member-name {
        color: $blue-01;
        font-weight: bolder;
    }

    .member-position {
        color: $blue-02;
    }

    .member-contact-info {
        margin: $margin-small;
    }
}
