@import "../../../../styles.scss";

.member-card {
    text-align: center;

    .face-photo {
        object-fit: cover;
        width: 300px;
        height: 300px;
        object-position: 100% 15%;
    }

    .employee-name {
        color: $blue-01;
        font-weight: bold;
    }

    .employee-position {
        color: $blue-02;
    }
}
